<header style="position: sticky; top: 0; z-index: 1">
  <navbar>
    <div style="background-color: black; padding: 10px 0px">
      <ul
            style="list-style: none; display: flex; justify-content: space-between"
      >
        <li style="padding: 0 5%;">
          <a
            style="color: white; text-decoration: none; font-weight: bold"
            href="/products"
          >Products</a>
        </li>
        {{#if canShowRealtime}}
        <li style="padding: 0 5%;">
          <a
            style="color: white; text-decoration: none; font-weight: bold"
            href="/realTimeProducts"
          >RealTime</a>
        </li>
        {{/if}}
        <li style="padding: 0 5%;">
          <a
            style="color: white; text-decoration: none; font-weight: bold"
            href="/chat"
          >Chat</a>
        </li>
        <li style="padding: 0 5%;">
          <a
            style="color: white; text-decoration: none; font-weight: bold; display: flex"
            href="/carts"
          >Cart</a>
        </li>
        <li style="padding: 0 5%;">
          <a
            style="color: white; text-decoration: none; font-weight: bold"
            href="/api/users/logout"
          >Log out</a>
        </li>
      </ul>
    </div>
  </navbar>
</header>

<h1>Chat</h1>
<section class="chatContainer">
  {{#if isUser}}
  <div >
    <form id="addMessageForm">
      <input type="email" id="user" placeholder="Enter your email" />
      <input type="text" id="message" placeholder="Write your message" />
      <input class="button" type="button" value="Send" onclick="addMessage()"></input>
    </form>
  </div>
  {{else}}
  <h2>Only for users ⛔</h2>
  {{/if}}
  
  <div id="messages" class="allMessages"></div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>